* {
  box-sizing: border-box;
  font-family: "Luckiest Guy", cursive;
  color: white;
  margin: 0;
  letter-spacing: 3px;
  word-spacing: 5px;
}
:root {
  --green: #1dd1a1;
  --yellow: #feca57;
  --blue: #23368d;
}
body {
  background-color: #130f40;
}
header {
  text-align: center;
  margin: 20px 0;
  font-size: 2vw;
}
section {
  border-radius: 20px;
  padding: 20px;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5%;
  margin: 0 auto;
  background-color: #4f75be;
}
section #left {
  text-align: center;
}
section #left div input {
  border: none;
  border-bottom: 8px solid black;
  width: 6vw;
  height: 6vw;
  max-width: 80px;
  max-height: 80px;
  outline: none;
  margin: 7px 1px;
  font-size: 4vw;
  text-align: center;
  color: black;
  background-color: #4f75be;
}
section #right,
#down {
  font-size: 2vw;
  text-align: center;
}
section #right #keys {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
}
section #right #keys span {
  /* background-color: var(--blue); */
  border-radius: 10px;
  font-size: 30px;
  padding: 5px;
}
#down {
  grid-column: 1 / span 2;
  margin-bottom: 20px;
}

section #down div {
  margin-top: 40px;
}
section #down div:nth-of-type(1) {
  color: var(--green);
}
section #down div:nth-of-type(2) {
  color: var(--yellow);
}
section #down div:nth-of-type(3) {
  color: black;
}
.but {
  text-align: center;
}
button {
  width: 300px;
  margin: 40px 0 20px 0;
  border: 5px solid var(--green);
  background-color: var(--green);
  color: white;
  font-size: 30px;
  height: 50px;
  border-radius: 10px;
  transition: 0.5s;
}
#new-game {
  border: 5px solid black;
  background-color: black;
}
button:hover {
  color: var(--green);
  background-color: transparent;
}
#new-game:hover {
  color: black;
  background-color: transparent;
}
footer {
  font-size: 40px;
  text-align: center;
  margin: 40px 0;
}
a {
  text-decoration: none;
  color: var(--green);
}
#message {
  text-align: center;
  font-size: 3vw;
}
@media screen and (max-width: 1050px) {
  header {
    font-size: 4vw;
  }
  section {
    width: 100%;
    grid-template-columns: 1fr;
    column-gap: 0;
    padding: 20px 0;
  }
  section #left div input {
    width: 14vw;
    height: 14vw;
    font-size: 9vw;
  }
  #down {
    grid-column: 1 / span 1;
    font-size: 4vw;
  }
  section #right {
    font-size: 7vw;
    margin: 10px;
  }

  #message {
    margin: 20px 0;
    font-size: 7vw;
  }
}
